
 /* this soruce of the code below https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way) */
* {
     box-sizing: border-box;

}


 html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    text-shadow: 0px 0px 30px #474747;
}

main {
    padding: 2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;

}

div.bottom {
    display: flex;
    justify-content: space-between;
}

h1.time {
    margin-top: -14rem;
    font-size: 5rem;
    text-align: center;

}

#stock {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}


.weather{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}

.settings{
    color: black;
}

#settings{
    color: aliceblue;
}